<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>

    <script>
        setTimeout(function () {
            // reload same controller every 2 min
            window.location.href = "/Home/Tv?companyId=3&floorId=21&t=" + Date.now();
        }, 120000);
    </script>

</head>

<body style="margin:0;background:black;color:white;">
    <h2 style="text-align:center;margin-top:20%;">Loading Dashboard...</h2>
</body>
</html>